body{background-color: #F8BBD0; font-family: Arial,Helvetica,sans-serif;}

a{text-decoration: none;}
a.btn { text-align: center; width: 100px; height: 28px; padding: 10px; background: none repeat scroll 0% 0% transparent; border-radius: 5px; border: 1px solid #880E4F; color: #880E4F;}
a.btn:hover{ background: #880E4F; color: #FFF;}
p.side-title {margin-bottom: 2px; background-color: #880E4F; text-align: center; height: 30px; border-radius: 5px; padding-top: 10px; color: #FFF;}
p.cart {text-align: center; font-weight: bold; font-size: 30px; color: #F00;}
table.table{overflow: auto;}

#header {display: block; background: #880E4F; height: 200px; border-radius: 6px;}
#wrapper {background-color: #FFF; padding: 20px; height: auto; width: 1000px; margin: 0px auto auto; border-radius: 6px;}
#wrapper #side-left{height: auto; margin-top: 5px; width: 20%; float: left; background: #F8BBD0; padding: 10px 10px; border-radius: 6px;}
#wrapper #content{margin-left: 9px; border: 1px solid #880E4F; height: auto; float: left; padding: 10px 10px; height: auto; border-radius: 6px; width: 52%; margin-top: 5px;}
#wrapper #side-right{margin-left: 9px; height: auto; margin-top: 5px; width: 20%; float: left; background: #F8BBD0; padding: 10px 10px 10px; border-radius: 6px;}
#footer {padding-top: 1px; height: 50px; text-align: center; background: #880E4F; margin-top: 5px; border-radius: 6px;}
#footer p{color: #FFF;}
#footer a{color: #FFF;}
#footer a:hover{background: #FFF; color: #880E4F;}

.clear{clear: both;}
.description {background: url(../img/overlay.png) repeat; bottom: 0; padding: 30px; }
.description h1 a { color: white; text-decoration: none;}
.fill{padding: 10px; text-align: justify; text-justify :inter-word;}
.nav-menu {background: none repeat scroll 0% 0% #F06292; display: inline-block; width: 100%; position: inherit; top: 0px; left: 0px; right: 0px; z-index: 9; min-height: 45px; border-radius: 6px;}
.nav-menu ul{background: none repeat scroll 0% 0% #F06292; list-style: outside none none; position: relative; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); padding: 0px; width: 100%; margin: auto; border-radius: 0px;}
.nav-menu ul li{float: left;}
.nav-menu ul li a{display: block; padding: 15px 32px; color: #FFF; text-decoration: none; text-transform: uppercase;}
.nav-menu ul li a:hover{background-color: #880E4F; color: #FCE4EC; border-radius: 6px;}
.side-category a{display: block; background-color: #F06292; color: #880E4F; border: 1px solid #880E4F; margin-bottom: 1px; height: 25px; padding-top: 6px; padding-left: 10px;}
.side-category a:hover{display: block; background-color: #880E4F; color: #FFF; border: 1px solid #880E4F; margin-bottom: 1px; height: 25px; padding-top: 6px; padding-left: 10px;}